@orange: #F2C27F;
.topbar_bg {
  width: 100%;
}

.topbar {
  position: absolute;
  top: 0;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}

// 详情
.detail {
  padding: 0 17px;
  .detail_content {
    position: relative;
    top: -50px;
    .item {
      &:nth-child(1) {
        margin: 0 -1px -1px 0;
        border-right: 1px dashed #E5E0DC;
        border-bottom: 1px dashed #E5E0DC;
      }
      &:nth-child(2) {
        margin: 0 -1px 0 0;
        border-bottom: 1px dashed #E5E0DC;
      }
      &:nth-child(3) {
        margin: 0 -1px 0 0;
        border-right: 1px dashed #E5E0DC;
      }
      .item_row {
        // line-height: 22px;
        padding: 15px 15px;
        .list_img_content {
          min-height: 180px !important;
          img {
            display: inline-block;
            vertical-align: middle;
            width: 100%;
          }
        }
        .list_cell_title {
          text-align: center;
          font-size: 16px;
          color: #EBBA6C;
        }
        .list_cell_center {
          text-align: center;
          position: relative;
          top: -30px;
        }
        .list_cell_dis {
          color: #8B612A;
          font-size: 12px;
          padding: 12px 0 8px 0;
          margin-top: -20px;
        }
        .list_cell_price {
          text-align: right;
          padding-right: 10px;
          color: #EBBA6C;
        }
      }
    }
  }
}

// 说明
.explain {
  position: relative;
  top: -40px;
  padding: 0 32px;
  line-height: 20px;
  .title {
    font-size: 14px;
    padding-bottom: 5px;
  }
  .content {
    font-size: 12px;
  }
  .attention {
    display: table;
    line-height: 24px;
    label {
      display: table-cell;
      width: 63px;
    }
    p {
      display: table-cell;
      a {
        color: #7BB7F9;
        text-decoration: underline;
      }
    }
  }
}

// join us
.join {
  margin: 0px 40px 20px;
  color: #000000;
  font-size: 15px;
  text-align: center;
  .btn {
    position: relative;
    top: -10px;
    border-radius: 22px;
    display: block;
    width: 100%;
    height: 44px;
    font-size: 18px;
  }
}

// 洗衣详情页面
.wash_container {
  background: #ECC17D;
  padding: 10px 25px 25px;
  height: 100%;
  text-align: center;
  overflow: auto;
  .logo {
    width: 70%;
    margin-bottom: 15px;
  }
  img {
    display: inline-block;
    max-width: 100%;
  }
}
