.container {
  height: 100%;
  .nav_ul {
    width: 100%;
    height: 60px;
    z-index: 999;
    padding-top: 11px;
    position: absolute;
    bottom: 0;
    background:#F7F7F7; /* 设置背景色 */
    border-top: 1px solid #ADADAD;
    a {
      color:#919191; /* 设置文字颜色 */
    }
    .home_tab_btn {
      text-align: center;
      height: 38px;
      font-size: 9px;
      .icon_col {
        height: 25px;
        padding-top: 1px;
        .home_icon {
          width: 22px;
          height: 22px;
        }
      }
    }
  }
}