@orange: #F2C27F;
.order_container {
  text-align: center;
  background-color: #F9F9F9;
  .calendarTip {
    background-color: #F9F9F9;
    padding: 5px 8px;
    line-height: 25px;
    border-radius: 15px;
    border: 1px solid #F1C184;
    color: #F1C184;
    width: 60%;
    position: absolute;
    top: 70px;
    left: 20%;
    z-index: 1051;
    label {
      font-size: 14px;
    }
  }
  .appointment_top_bg {
    width: 100%;
  }
  .appointment_top_sark {
    background-image: url("../../images/appointment_top_bg.png");
    background-size: 100% 100%;
    padding-bottom: 44%;
    .appointment_top_sark_img {
      text-align: center;
      img {
        position: relative;
        left: 25%;
        width: 50%;
        top: -15px;
      }
      h3 {
        padding-top: 14px;
        z-index: 999;
        color: #8B612A;
      }
    }
    .appointment_top_sark_info {
      p {
        padding: 0 15vw;
        color: #fff;
      }
    }
  }
  .title {
    padding: 43px 0 60px;
    font-size: 24px;
    color: @orange;
  }
  .line_one {
    color: #D1C8C0;
  }
  .order_content {
    margin-top: -14vh;
    padding: 0 20px 0 20px;
    input {
      height: 35px;
      background-color: #F9F9F9; // border-color: #C9C9C9;
    }
     ::-webkit-input-placeholder {
      /* Chrome */
      color: #757575;
      transition: opacity 250ms ease-in-out;
      font-size: 14px;
    }
     :focus::-webkit-input-placeholder {
      opacity: 0.5;
    }
     :-ms-input-placeholder {
      /* IE 10+ */
      color: #757575;
      transition: opacity 250ms ease-in-out;
    }
     :focus:-ms-input-placeholder {
      opacity: 0.5;
    }
     ::-moz-placeholder {
      /* Firefox 19+ */
      color: #757575;
      opacity: 1;
      transition: opacity 250ms ease-in-out;
    }
     :focus::-moz-placeholder {
      opacity: 0.5;
    }
     :-moz-placeholder {
      /* Firefox 4 - 18 */
      color: #757575;
      opacity: 1;
      transition: opacity 250ms ease-in-out;
    }
     :focus:-moz-placeholder {
      opacity: 0.5;
    }
    .location_icon_content {
      display: table-cell;
      /*图片容器以表格的单元格形式显示*/
      text-align: center;
      /* 实现水平居中 */
      vertical-align: middle;
      /*实现垂直居中*/
      .location_icon {
        width: auto;
        height: 28px;
        margin-top: 2px; // vertical-align: middle; /*图片垂直居中*/
      }
    }
    .address_show {
      text-align: center;
      padding-bottom: 10px;
      font-size: 14px;
      color: #000000;
      min-height: 52px;
      display: table;
      i {
        display: table-cell;
        vertical-align: middle;
      }
      p span {
        color: #9B9B9B;
      }
    }
    .address_input {
      height: 40px;
      background-color: #ECECEC;
      color: #BBBBBB;
      border: 0;
      border-radius: 0;
    }
    .address_input:hover {
      border: 1px solid #FFB075 !important;
    }
    .address_input:focus {
      border: 1px solid #FFB075 !important;
    }
    .line_no_two {
      padding-top: 14px;
    }
    .line_tips {
      font-size: 11px;
      margin-top: 14px;
      margin-bottom: 10px;
    }
    .line_two {
      border-top: 1px dashed #D1C8C0;
      padding-top: 14px;
      line-height: 22px;
    }
    .timeSlector {
      width: 288px;
      margin: 0 auto;
      overflow: hidden;
    }
    .dateSelector {
      display: table;
      p,
      button {
        display: table-cell;
      }
    }
    .clo_number_radio {
      margin-bottom: 14px;
      label {
        padding: 0 15px !important;
        font-size: 15px;
        margin: 0 5px;
        border-left: 1px solid #d9d9d9;
        border-radius: 6px;
      }
      .label_one {
        border-radius: 6px;
        border-left: 1px solid #d9d9d9;
      }
    }
    .ruls_label {
      color: #757575;
      line-height: 22px;
      display: inline-block;
      vertical-align: middle;
    }
    .ruls {
      color: #f15c5c;
    }
    .hint {
      color: #f15c5c;
      ;
      text-align: center;
    }
    .date_input {
      margin-bottom: 14px;
      input {
        width: 100% !important;
        height: 28px !important;
        text-align: center;
        line-height: 28px;
        border-color: #DDDDDD;
        background: #fff;
        border-radius: 4px;
        padding: 0;
      }
    }
    .order_btn {
      line-height: 0px;
      font-size: 16px;
      font-weight: 900;
      margin-top: 20px;
      padding: 8px 0;
      border-radius: 25px;
      width: 100%;
    }
  }
}
