@import "~antd/lib/style/themes/default.less";
@import "./theme.less"; // theme.less，用于覆盖变量值
@import "~antd/lib/style/core/index.less";
@import "~antd/lib/style/components.less";

:global {
  html, body, #root {
    height: 100%;
  }

  body {
    position: relative;
  }

  .active {
    color: #FF9241 !important;
  }

  .full_height {
    height: 100%;
  }

  .text-left {
  	text-align: left;
  }
  .text-right {
  	text-align: right;
  }
  .text-center {
  	text-align: center;
  }
  .text-justify {
  	text-align: justify;
  }

  .pull-right {
    float: right;
  }
  .pull-left {
    float: left;
  }

  // profile  progress
  .ant-progress-bg {
    background-color: #F4C87B !important;
  }

  // tab
  .ant-tabs-bar {
    margin-bottom: 0 !important;
    background-color: #fff;
    .ant-tabs-nav {
      width: 100%;
      .ant-tabs-tab {
        margin-right: 0 !important;
        width: 25%;
        .ant-tabs-tab-inner {
          padding: 8px 0px;
          font-size: 12px;
          text-align: center;
          color: #7f7f7f !important;
        }
      }
      .ant-tabs-ink-bar {
        width: 11% !important;
        left: 7% !important;
      }
    }
  }

  label.ant-radio-button-wrapper-checked {
    border-color: #FF9241 !important;
    background-color: #FF9241 !important;
    color: #fff !important;
    box-shadow: -1px 0 0 0 #FF9241 !important;
  }
  .ant-calendar-header {
    background-color: #FFB075 !important;
    a , span {
      color: #fff !important;
    }
  }
  .ant-input:focus{
    box-shadow: none !important;
  }
  .ant-calendar-cell {
    color: #919191 !important;
  }
  .ant-calendar-picker-container {
    // 元素水平垂直居中显示
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(189,189,189,0.8);
    // 添加毛玻璃效果
    // background: inherit;
    // -webkit-filter: blur(5px);
    // -moz-filter: blur(5px);
    // -ms-filter: blur(5px);
    // -o-filter: blur(5px);
    // filter: blur(5px);
    // filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=false);
    .ant-calendar {
      width: 80%;
    }
  }
  
  .ant-calendar-picker-icon {
    display:none !important;
  }
  .has-success {
    input {
      background-color: #FF9241 !important;
      color: #fff;
      border: 0;
    }
  }
  .ant-calendar-selected-day .ant-calendar-date {
    border-radius: 50% !important;
  }
  .ant-calendar-today .ant-calendar-date {
    border-radius: 50% !important;
  }
}
