:global {
  html, body, #root {
    // height: 100%;
  }

  body {
    position: relative;
  }

  .active {
    color: #FF9241 !important;
  }

  .text-left {
  	text-align: left;
  }
  .text-right {
  	text-align: right;
  }
  .text-center {
  	text-align: center;
  }
  .text-justify {
  	text-align: justify;

  label.ant-radio-button-wrapper-checked {
    border-color: #FF9241 !important;
    background-color: #FF9241 !important;
    color: #fff !important;
    box-shadow: -1px 0 0 0 #FF9241 !important;
  }
  .ant-calendar-header {
    background-color: #FFB075 !important;
    a , span {
      color: #fff !important;
    }
  }
  .ant-calendar-cell {
    color: #919191 !important;
  }
  .ant-calendar-column-header {
    color: #ccc !important;
  }
  .ant-calendar-range-picker {
    text-align: center !important;
  }
  .ant-calendar-picker-icon {
    display:none !important;
  }
  .ant-calendar-next-month-btn-day {

  }
  .ant-calendar-selected-day .ant-calendar-date {
    background-color: #FF9241 !important;
    border-radius: 50% !important;
  }
  .ant-calendar-today .ant-calendar-date {
    border-color: #FF9241 !important;
    border-radius: 50% !important;
  }
  .ant-calendar-picker-container {
    // width: 100% !important;
    // height: 100% !important;
    background-color: #fff !important;
    // left: auto !important;
    // top: auto !important;
  }
}
