:global {
  html, body, #root {
    // height: 100%;
  }

  body {
    position: relative;
  }

  .active {
    color: #FF9241 !important;
  }

  .text-left {
  	text-align: left;
  }
  .text-right {
  	text-align: right;
  }
  .text-center {
  	text-align: center;
  }
  .text-justify {
  	text-align: justify;
  }
}
