.dhContainer {
  width: 100vw;
  height: 100vh;
  background: #fff;
  position: relative;
  .back_btn {
  	position: absolute;
  	top: 0;
  	left: 0;
  	height: 48px;
  	width: 48px;
  	line-height: 48px;
  	text-align: center;
  	color: #FF9241;
  	font-weight: bolder;
  	font-size: 24px;
  }
  .location {
		position: absolute;
		right: 8px;
		height: 35px;
		width: 35px;
		padding: 6px;
		background-color: #fff;
		-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
		box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
		img, i {
			height: 23px;
			width: 23px;
		}
	}
  .spin_content {
    text-align: center;
    padding-top: 30px;
  }
}