@orange: #FF9241;
.home_content{
  .home_pic {
    width: 100%;
  }
  .home_order_content {
    padding-top: 33px;
    padding-bottom: 20px;
    .home_order {
      font-size: 15px;
      text-align: center;
      color: #666;
    }
    .home_order_line {
      text-align: center;
      font-size: 25px;
      line-height: 15px;
    }
    .home_order_btn {
      display: block;
      padding-top: 30px;
      text-align: center;
      color: @orange;
      a {
        padding: 6px 32px;
        border: 1px solid #FF9241;
      }
    }
  }
}