@orange: #FF9241;
.my_cliset_content {
  color: #7F7F7F;
  background-color: #fff;
  .closet_content_down {
    background-color: #F9F9F9;
  }
  .my_cliset_header_part_one_content {
    padding-top: 27px;
    .user_name {
      text-align: center;
      font-size: 24px;
      font-weight: 300;
      color: #555555;
    }
    .user_pic_content {
      text-align: center;
      .user_pic_position {
        position: relative;
        width: 150px;
        height: 150px;
        .user_pic {
          width: 130px;
          height: 130px;
        }
        .empty_cicle {
          width: 28px;
          height: 28px;
          background-color: #F3D696;
          border: 2px solid #fff;
          border-radius: 50%;

          position: absolute;
          bottom: 20px;
          right: 22px;
        }
      }
    }
  }
  
  .my_cliset_header_part_two_content {
    border-bottom: 1px solid #EBEBEB;
    padding-bottom: 8px;
    .closet_number_tab {
      display: flex;
      align-items: center;
      text-align: center;
      .number_closet {
        font-size: 24px;
        color: #555555;
      }
      .input_closet_btn {
        padding: 4px 14px;
        border-radius: 23px;
      }
      .input_closet_number_tab {
        border-left: 1px solid #B0B0B0;
      }
    }
  }

  .tab_name {
    padding: 0 0 0 18px;
    margin-top: 5px;
    font-size: 16px;
  }
}
