// level
.level {
  text-align: center;
  display: inline-block;
  .title {
    color: #8B612A;
    font-size: 12px;
    .title_level {
      color: #EBBA6C;
      padding-left: 8px;
      font-size: 14px;
    }
  }
  .content {
    line-height: 1;
    width: 240px;
    position: relative;
    .progress_div {
      margin: 6px auto 0;
      width: 100%;
      background-color: #FFF6E7;
      padding: 2px 4px 1px;
      border-radius: 12px;
      position: relative;
      .points {
        font-weight: normal;
        color: #8B612A;
        position: absolute;
        font-size: 10px;
        top: 3px;
        right: 5px;
      }
      .tick_bg {
        width: 220px;
        height: 6px;
        background: url('/src/images/level_tick.svg') no-repeat;
        background-size: 100% 100%;
        position: absolute;
        top: 14px;
        left: 10px;
      }
      .tick {
        width: 100%;
        font-size: 10px;
        position: absolute;
        top: 22px;
        left: 0px;
        display: flex;
        justify-content: space-between;
        .item {
          color: #9B9B9B;
        }
      }
    }
    .char {
      font-size: 11px;
      color: #EBBA6C;
    }
    .tips {
      font-size: 11px;
      a {
        color: rgba(139, 97, 42, 0.5);
      }
    }
  }
}
