// level
.level {
	position: relative;
	width: 140px;
	height: 18px;
	margin: 0 auto;
	.level_icon {
		height: 17px;
		width: 17px;
		border-radius: 50%;
		background-color: #F4C87B;
		border: 2px solid #fff;
		position: absolute;
		left: 0;
		top: 1px;
		z-index: 100;
	}
	.progress {
		width: 70px;
		position: absolute;
		left: 8px;
		top: 0px;
		z-index: 1;
	}
	.level_name {
		color: #CDAD64;
		text-align: right;
		line-height: 19px;
		font-size: 12px;
		padding-left: 14px;
		width: 62px;
		position: absolute;
		right: 0;
		top: 0;
	}
}