// level
.level {
  text-align: center;
  .title {
    color: #8B612A;
    font-size: 12px;
    .title_level {
      color: #757575;
      padding-left: 8px;
    }
  }
  .content {
    line-height: 1.4;
    .progress_div {
      margin: 15px 25%;
      background-color: #FFF6E7;
      padding: 2px 4px 2px 4px;
      border-radius: 12px;
    }
    .points {
      font-weight: normal;
      color: #EBBA6C;
      position: relative;
      top: -32px;
      right: -18%;
    }
    .char {
      font-size: 11px;
      color: #EBBA6C;
    }
    .tips {
      font-size: 11px;
      a {
        color: rgba(139, 97, 42, 0.5);
      }
    }
  }
}