// index
.container {
	height: 100%;
	padding-top: 50px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
	img {
		height: auto;
		width: 100%;
		display: block;
		margin-bottom: 2px;
	}
	.bill {
		background-color: #fff;
		margin-bottom: 2px;
		padding: 15px 17px;
		&:active {
			background-color: #f8f8f8;
		}
		p {
			color: #ADADAD;
			font-size: 19px;
			overflow: hidden;
			line-height: 26px;
			.kind {
				color: #7f7f7f;
				font-weight: bold;
			}
			.money {
				color: #FFA35E;
				font-weight: bold;
				padding-left: 42px;
			}
			.date {
				float: right;
				font-size: 16px;
			}
			.desc {
				float: left;
				font-size: 13px;
			}
			.time {
				font-size: 12px;
				float: right;
			}
		}

	}
}

// show
.detail {
	padding: 20px 16px;
	margin-bottom: 2px;
	margin-top: 5px;
	background-color: #fff;
	color: #919191;
	font-size: 12px;
	.top1 {
		text-align: center;
		font-size: 13px;
		
	}
	.top2 {
		text-align: center;
		color: #FFA35E;
		font-size: 24px;
		padding: 15px;
	}
}
.detail_footer {
	padding: 15px 16px;
	background-color: #fff;
	color: #919191;
	font-size: 12px;
	a {
		color: #58BAFF;
		font-size: 12px;
		display: block;
		text-align: center;
	}
}
.row_p {
	overflow: hidden;
	line-height: 30px;
	span {
		float: right;
	}
}
