.container {
  font-family: PingFang SC;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-flow: column nowrap;
  background-color: #F8F8F8;
  flex-grow: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  p {
    color: #FFA35E;
    font-size: 12px;
    width: 100%;
    background-color: #F8F8F8;
    padding: 8px 10px 2px 20px;
  }
  .rt {
    text-align: right;
  }
  .lf {
    text-align: left;
  }
  Input {
    border: 0px;
    padding: 0px;
    height: 22px;
    text-align: center;
  }
  .cell {
    margin-bottom: 2px;
    background-color: #fff;
    padding: 5px 10px 5px 20px;
  }
  .icon_col {
    color: #7F7F7F;
  }
  .content_top {
    color: #7F7F7F;
    font-size: 16px;
    width: 100%;
    background-color: #fff;
    margin-top: 15px;
    padding: 5px 10px 5px 20px;
  }
  .content_body_top {
    color: #7F7F7F;
    font-size: 16px;
    width: 100%;
    background-color: #F8F8F8;
    margin-top: 1px;
  }
  .content_body_bottom {
    color: #7F7F7F;
    font-size: 16px;
    width: 100%;
    background-color: #F8F8F8;
    margin-top: 1px;
  }
  .content_bottom {
    width: 100%;
    background-color: #F8F8F8;
    padding-top: 10px;
    .box_position {
      text-align: left;
      margin-left: 20px;
      span {
        color: black;
      }
      .box_bg {
        background-color: #7cd500;
      }
      h4 {
        color: #ADADAD;
        font-size: 12px;
        padding-top: 5px;
        padding-bottom: 8px;
      }
    }
    .btn_position {
      text-align: center;
      button {
        position: relative;
        color: #F8F8F8;
        background-color: #ECC17D;
        width: 85%;
        height: 40px;
        text-align: center;
        font-size: 16px;
        border-radius: 20px;
        border: 0px solid #F8F8F8;
        margin: 5px auto;
      }
    }
  }
}
