.container {
	height: 100%;
	padding-bottom: 50px;
	overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
	// 季款
	.season {
		height: 44px;
		line-height: 44px;
		padding: 0px 16px;
		border-bottom: 1px solid #f8f8f8;
		color: #919191;
		font-size: 13px;
		background: #fff;
	}

	// 入库
	.tab_btn {
		display: block;
		position: fixed;
		bottom: 0;
		left: 0;
		height: 50px;
		width: 100%;
		line-height: 50px;
		background: #F8F8F8;
		color: #FFA35E;
		font-size: 18px;
		text-align: center;
		border-top: 1px solid #979797;
		&:active {
			background: #f1f1f1;
		}
	}
}